.image_wrapper {
    max-width: 300px;
}
.image_wrapper #shirt {
    filter: hue-rotate(136.969deg);
    /* background-color: pink; */
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(204, 0, 102);
}